html {
  scroll-behavior: smooth;
}

body {
  @apply font-avenirnextlight text-black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Open State Navigation
  &.nav-is-open {
    @apply overflow-hidden;
  }
}

ol:not([class]),
ul:not([class]) {
  @apply pl-10;
}

li:not([class]) + li:not([class]) {
  @apply mt-2;
}

hr {
  @apply block h-px my-8 bg-grey-light;

  clear: both;

  // 1024
  @media (min-width: 1024px) {
    @apply my-16;
  }

  // ESG Page
  .page-template-template-esg & {
    @apply bg-accent-7;
  }
}

address {
  @apply roman leading-normal;

  span:first-child {
    @apply block;
  }
}

iframe {
  @apply block;
}

input,
textarea,
select, {
  @apply w-full p-2 text-lg text-black leading-normal border border-solid border-grey appearance-none;
}

textarea {
  @apply h-32;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply opacity-75;
}

select {
  @apply bg-no-repeat bg-contain;

  background-position: calc(100% - 15px) center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'/%3E%3C/svg%3E");
  background-size: 20px;
}

main {
  .blog &,
  .archive &,
  .category &,
  .author & {
    background-image: url("/app/uploads/2020/02/news-background-960x1735.jpg");

    // 1024
    @media (min-width: 1024px) {
      background-image: url("/app/uploads/2020/02/news-background.jpg");
    }
  }
}
