h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-5 font-normal leading-normal;
}

h2,
h3,
h5 {
  @apply text-primary-1;
}

h5,
h6 {
  @apply font-poyntertextbold;
}

h1 {
  @apply text-5xl font-muliregular uppercase tracking-wide;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

  // 1024
  @media (min-width: 1024px) {
    @apply text-md:5xl;
  }
}

h2 {
  @apply text-4xl font-poyntertextromanoneregular;

  // 1024
  @media (min-width: 1024px) {
    @apply text-md:4xl;
  }
}

h3 {
  @apply text-3xl font-poyntertextitalicfour;
}

h4 {
  @apply text-2xl font-mulibold;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg text-primary-2;
}

p,
li:not([class]),
address {
  @apply text-base leading-normal;
}

p {
  @apply mb-8;
}

p:last-child {
  @apply mb-0;
}

strong,
b,
em,
i {
  @apply font-normal;
}

strong,
b {
  @apply font-mulibold;
}

em,
i {
  @apply font-muliitalic;
}

a:not([class]) {
  @apply text-current;
}
