// Button
.brm-btn {
  @apply inline-block py-2 px-5 text-sm font-avenirnextmedium no-underline uppercase border-0 rounded-button shadow;

  // Hover State
  @media (hover: hover) {
    &:hover {
      @apply shadow-inner;
    }
  }
}

// Primary
.brm-btn--primary {
  @apply text-primary-1 bg-white;

  background-image: radial-gradient(50% 100%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%, #f8f8f8 100%);
}

// Secondary
.brm-btn--secondary {
  @apply text-white bg-white;

  background-image: linear-gradient(134deg, #b1d3bb 50%, #95b8a4 100%);
}

// Tertiary
.brm-btn--tertiary {
  @apply inline-block py-2 px-5 text-sm font-avenirnextmedium text-white bg-primary-1 border-0 rounded-button shadow;

  background-image: initial;
}
