.carousel-grid {
  @apply relative;

  // 1024
  @media (min-width: 1024px) {
    &::before,
    &::after {
      @apply block absolute pin-t z-40 h-full;

      content: "";
      width: 5%;
      background-color: rgba(255, 255, 255, 0.8);

      // 1024
      @media (min-width: 1024px) {
        width: 30%;
      }
    }

    &::before {
      @apply pin-l;

      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
      @apply pin-r;

      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }
}

.carousel-grid--logos {
  // 1024
  @media (min-width: 1024px) {
    &::before,
    &::after {
      width: 25%;
    }

    &::before {
      background: linear-gradient(90deg, rgba(28, 61, 105, 1) 50%, rgba(28, 61, 105, 0.5) 100%);
    }

    &::after {
      background: linear-gradient(90deg, rgba(28, 61, 105, 0.5) 50%, rgba(28, 61, 105, 1) 100%);
    }
  }
}

.carousel-grid--offices {
  // 1024
  @media (min-width: 1024px) {
    &::before,
    &::after {
      width: 38.5%;
    }

    &::before {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }
}
