// Hero
.brm-hero {
  @apply relative py-8 overflow-hidden;

  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2), inset 0 5px 10px rgba(0, 0, 0, 0.2);

  // 1024
  @media (min-width: 1024px) {
    @apply py-16;
  }

  // Portfolio Page
  .page-id-16 & {
    @apply py-0;
  }

  // Investment Strategies Page
  .page-template-template-investment-strategies & {
    @apply text-center;

    // 1024
    @media (min-width: 1024px) {
      @apply pt-8 pb-investment-hero;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-white;
    }
  }

  // Splash Specific
  .page-template-template-splash & {
    @apply flex flex-col flex-wrap items-center justify-center;

    // 1024
    @media (min-width: 1024px) {
      @apply max-h-hero-splash;
    }
  }

  // Landing Specific
  .page-template-template-landing & {
    // 1023 <=
    @media (max-width: 1023px) {
      @apply h-auto max-h-initial;
    }

    // 1024
    @media (min-width: 1024px) {
      @apply flex flex-col flex-wrap items-center justify-center max-h-hero-home;
    }
  }

  // Has Background
  &.has-bg {
    @apply bg-center bg-no-repeat bg-cover;

    // 1023 <=
    @media (max-width: 1023px) {
      @apply py-16;

      // Portfolio Page
      .page-id-16 & {
        @apply py-0;
      }

      // Investment Strategies Page
      .page-template-template-investment-strategies & {
        @apply pt-3 pb-32;
      }
    }
  }

  &.blue-gradient {
    background-image: radial-gradient(50% 50%, #1c3d68 50%, #0f1e33 100%);
  }

  &.gold-gradient {
    background-image: radial-gradient(50% 50%, #ceb58c 50%, #a38242 100%);
  }

  &.green-gradient {
    background-image: radial-gradient(50% 50%, #a2cab0 50%, #82a293 100%);
  }

  &.grey-gradient {
    background-image: radial-gradient(50% 50%, #595959 50%, #2e2e2e 100%);
  }

  &.red-gradient {
    background: #892406;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-0 text-current;
  }

  h3,
  hr {
    @apply max-w-hr mx-auto;
  }

  hr {
    @apply my-5 bg-white;
  }

  .brm-btn {
    @apply mt-5;
  }
}

// Video
.brm-hero__video {
  @apply absolute pin w-full h-full;

  object-fit: cover;
}

// Carousel
.brm-hero__carousel {
  @apply w-full h-full;
}

// Carousel Image
.brm-hero__carousel__image {
  // Has Loaded
  &.has-loaded {
    @apply w-screen h-screen max-h-hero bg-center bg-no-repeat bg-cover;

    // 1024
    @media (min-width: 1024px) {
      @apply max-h-hero-home;
    }
  }
}

// Content & Form
.brm-hero__content,
.brm-hero__form {
  // Landing Specific
  .page-template-template-landing & {
    @apply w-full;

    // 1024
    @media (min-width: 1024px) {
      width: calc(50% - 15px);
    }
  }
}
