.slick-arrow {
  @apply absolute z-50 w-slick-arrow bg-transparent appearance-none;

  top: 40%;
  transform: translateY(-40%);

  .brm-section--spotlight & {
    transform: translateY(-90%);
  }
}

.slick-prev {
  @apply pin-l;

  .brm-section--spotlight & {
    left: 15px;

    @media (min-width: 1024px) {
      left: 330px;
    }
  }
}

.slick-next {
  @apply pin-r;

  .brm-section--spotlight & {
    right: 15px;

    @media (min-width: 1024px) {
      right: 330px;
    }
  }
}

.slick-dots {
  @apply flex flex-row flex-no-wrap items-start h-slick-dots mb-5 pl-0 border border-solid border-grey-light overflow-hidden rounded-lg;

  list-style-type: none;

  // 1024
  @media (min-width: 1024px) {
    @apply max-w-half mx-auto;
  }

  li {
    @apply w-1/2 h-full;
  }

  button {
    @apply w-full h-full bg-white overflow-hidden;

    text-indent: -9999px;
  }

  .slick-active {
    button {
      @apply bg-primary-1;
    }
  }
}
